@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitter:wght@300;500;700;900&family=Montserrat:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,800;1,800&display=swap');

* {
    margin:0px ; 
    padding: 0px ; 
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Bitter', serif;
    scroll-behavior: smooth;
}

#naaman {
    background-color: #e1493bc9;
}

#biga {
    background-color: #fedf32b9;
}

#soja {
    background-color: #5ac158ad;
}

/* ------------------------------------------------------style section artiste---------------------------------------------------------------*/

.contenu_bloc_artiste {
    display: flex;
    align-items: center;
}

.contenu_bloc_artiste > div {
    width: 50% ;
}

.image_artiste img {
    width: 100%;
}

.rs ul {
    display: flex ; 
    align-items: center;
    justify-content: center;
}

.description_artiste {
    padding: 30px ;
}

#rap .description_artiste {
    border : 2px rgba(0, 0, 0, 0.541) solid ; 
    margin: 30px;
    box-shadow: 100px 100px 0px -64px #F2DEA2;
}

#vald .description_artiste {
    margin :50px ; 
}


.description_artiste p,.description_artiste h2 {
    width: 80% ; 
    margin: auto ; 
}

.rs a {
    color: black;
    padding: 10px;
    margin: 0px 10px ;
    transition: .3s ;  
}

.rs a:hover {
    transition: .3s ; 
}

#rap .rs a:hover {
    color : rgba(0, 0, 0, 0.555) ; 
    transition: .3s;
}

#reggae .rs ul a:nth-child(1):hover {
    color: red;
}

#reggae .rs ul a:nth-child(2):hover {
    color: yellow;
}

#reggae .rs ul a:nth-child(3):hover {
    color: green;
}

.texte p {
    line-height: 30px;
    padding: 20px 0px;
}

.texte h1 {
    font-size : 4em ; 
    letter-spacing: 0.05em;
    width: 100% ;
    text-align: center;
}

#reggae .texte h1 {
    font-family: 'Anton', sans-serif;
}

#rap .texte h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.texte h1::after {
    content: "" ; 
    display: block;
    width: 20%;
    height: 5px;
    margin: auto;
    border-radius: 2em;
    padding: 2px;
}

#rap .texte h1::after {
    height : 1px ; 
    background-color: rgba(0, 0, 0, 0.486);
    padding: 0px;
}

#biga .texte h1::after {
    background-color: #e1493be1;

}

#naaman .texte h1::after,#soja .texte h1::after {
    background-color: #fedf32b9 ;
   
}

.texte h2 {
    padding-top: 20px;
}

/* ------------------------------------------------------style section album---------------------------------------------------------------*/

.contenu_bloc_album {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contenu_bloc_album > div {
    width:50% ; 
}


.image_album div {
    width : 60% ; 
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_album div img {
    width: 100%;
}


.music {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.774);
    width: 70% ; 
    margin:  20px auto;
    padding : 15px ;
    box-shadow: 10px 10px ;
}

#rap .music {
    box-shadow: 0px 0px 20px -3px black;
}

#reggae .music {
    border-radius: 2em;
}

#biga .music {
    box-shadow: 10px 10px #e1493be1;
}

#naaman .music, #soja .music {
    box-shadow: 10px 10px #fedf32b9;
}
.music div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music p {
    width: 50%;
    margin: 0;
}

.music audio {
    margin: 15px;
    display: inline-block;
}

video {
    object-fit: cover;
    transition: .2s;
}

video:hover {
    transform: scale(1.2);
    transition: .2s;
    cursor: pointer;
}


#rap .titre h3 {
    display: flex;
    align-items: center;
}

#rap .titre h3::before {
    content: "";
    width: 5px;
    height: 20px;
    background-color: #F2DEA2;
    margin : 0px 15px ; 
    
}
.titre {
    display: flex;
    justify-content: center;
}

.titre h3 {
    font-size: 1.5em;
    padding: 20px;
    font-weight: 900;
}

#naaman .titre h3, #soja .titre h3{
    color:#fedf32b9;
}

#biga .titre h3 {
    color: #e1493be1 ;
}


/* ------------------------------------------------------style section nav---------------------------------------------------------------*/

#menu_deroulant {
    width: 10%;
    position: fixed;
    top : 0; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.473);
    text-transform: uppercase;
    height : 100vh ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transform: translate(-110px);
    transition: .3s;
    font-weight: 700;
}

#menu_deroulant:hover {
    transform: translate(0px);
    transition: .3s;
    cursor: pointer;
}

#menu_deroulant ul {
    list-style-type: none;
}

#menu_deroulant a {
    text-decoration: none;
    color: white;
    
}

.deroulant {
    margin: 40px 0px;
}

#menu_deroulant li {
    text-align: center;
    padding: 10px ; 
}

.sous {
    opacity: 0;
    max-height: 0;
    overflow: hidden; 
    transition: all .5s;
    font-weight: 300;
}

#menu_deroulant > ul li:hover .sous{
    opacity: 1;
    max-height: 15em;
}

#menu_deroulant li li {
    overflow: hidden;
    transition: all .5s;
    border-radius:0;
    background: #444;
    border:none;
    margin:0
}


#footer {
    width: 100%;
    background-color: rgba(177, 177, 196, 0.5);
    color: rgb(133, 133, 133);
    text-decoration: none;
    text-align: center;
    margin-top: 4em;
    padding-top: 1em;
    padding-bottom: 3em;
    line-height: 3;
}
#footer #liens a {
    margin-right: 4em;
    margin-left: 4em;
    color: rgb(133, 133, 133);
}
/* ------------------------------------------------------style bouton ---------------------------------------------------------------*/

.contenu_bouton_top {
    display: flex;
    justify-content: center;
}

.contenu_bouton_top a {
    color: #F2DEA2;  
    transition: .3s;
}

.contenu_bouton_top a:hover {
    transform: scale(1.5);
    transition: .3s ; 
    cursor: pointer;
}

