@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitter:wght@300;500;700;900&family=Montserrat:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,800;1,800&display=swap');

* {
    margin:0px ; 
    padding: 0px ; 
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Bitter', serif;
    scroll-behavior: smooth;
}

/******Header*********************************************************************/
#menu_deroulant {
    width: 10%;
    position: fixed;
    top : 0; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.473);
    text-transform: uppercase;
    height : 100vh ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transform: translate(-110px);
    transition: .3s;
    font-weight: 700;
}

#menu_deroulant:hover {
    transform: translate(0px);
    transition: .3s;
    cursor: pointer;
}

#menu_deroulant ul {
    list-style-type: none;
}

#menu_deroulant a {
    text-decoration: none;
    color: white;
    
}

.deroulant {
    margin: 40px 0px;
}

#menu_deroulant li {
    text-align: center;
    padding: 10px ; 
}

.sous {
    opacity: 0;
    max-height: 0;
    overflow: hidden; 
    transition: all .5s;
    font-weight: 300;
}

#menu_deroulant > ul li:hover .sous{
    opacity: 1;
    max-height: 15em;
}

#menu_deroulant li li {
    overflow: hidden;
    transition: all .5s;
    border-radius:0;
    background: #444;
    border:none;
    margin:0
}

/*******fin du header**************************************************************************/


#body_reggae {
    background-color: #5ac158;
}

#naaman {
    background-color: #e1493bc9;
}

#biga {
    background-color: #fedf32b9;
}

#soja {
    background-color: #5ac158;
}

/* ------------------------------------------------------style section artiste---------------------------------------------------------------*/

.contenu_bloc_artiste {
    display: flex;
    align-items: center;
}

.contenu_bloc_artiste > div {
    width: 50% ;
}

.image_artiste img {
    width: 100%;
}

.rs ul {
    display: flex ; 
    align-items: center;
    justify-content: center;
}

.description_artiste {
    padding: 30px ;
}

#rap .description_artiste {
    border : 2px rgba(0, 0, 0, 0.541) solid ; 
    margin: 30px;
    box-shadow: 100px 100px 0px -64px #F2DEA2;
}

#vald .description_artiste {
    margin :50px ; 
}


.description_artiste p,.description_artiste h2 {
    width: 80% ; 
    margin: auto ; 
}

.rs a {
    color: black;
    padding: 10px;
    margin: 0px 10px ;
    transition: .3s ;  
}

.rs i:hover {
    transition: .3s ; 
}

#rap .rs a:hover {
    color : rgba(0, 0, 0, 0.555) ; 
    transition: .3s;
}

#reggae .rs .fa-instagram:hover {
    color: red;
}

#reggae .rs .fa-facebook:hover {
    color: yellow;
}

#reggae .rs .fa-twitter:hover {
    color: green;
}

.texte p {
    line-height: 30px;
    padding: 20px 0px;
}

.texte h1 {
    font-size : 4em ; 
    letter-spacing: 0.05em;
    width: 100% ;
    text-align: center;
}

#reggae .texte h1 {
    font-family: 'Anton', sans-serif;
}

#rap .texte h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.texte h1::after {
    content: "" ; 
    display: block;
    width: 20%;
    height: 5px;
    margin: auto;
    border-radius: 2em;
    padding: 2px;
}

#rap .texte h1::after {
    height : 1px ; 
    background-color: rgba(0, 0, 0, 0.486);
    padding: 0px;
}

#biga .texte h1::after {
    background-color: #e1493be1;

}

#naaman .texte h1::after,#soja .texte h1::after {
    background-color: #fedf32b9 ;
   
}

.texte h2 {
    padding-top: 20px;
}

/* ------------------------------------------------------style section album---------------------------------------------------------------*/

.contenu_bloc_album {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contenu_bloc_album > div {
    width:50% ; 
}


.image_album div {
    width : 60% ; 
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_album div img {
    width: 100%;
}


.music {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.774);
    width: 70% ; 
    margin:  20px auto;
    padding : 15px ;
    box-shadow: 10px 10px ;
}

#rap .music {
    box-shadow: 0px 0px 20px -3px black;
}

#reggae .music {
    border-radius: 2em;
}

#biga .music {
    box-shadow: 10px 10px #e1493be1;
}

#naaman .music, #soja .music {
    box-shadow: 10px 10px #fedf32b9;
}
.music div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music p {
    width: 50%;
    margin: 0;
}

.music audio {
    margin: 15px;
    display: inline-block;
}

video {
    object-fit: cover;
    transition: .2s;
}

video:hover {
    transform: scale(1.2);
    transition: .2s;
    cursor: pointer;
}


#rap .titre h3 {
    display: flex;
    align-items: center;
}

#rap .titre h3::before {
    content: "";
    width: 5px;
    height: 20px;
    background-color: #F2DEA2;
    margin : 0px 15px ; 
    
}
.titre {
    display: flex;
    justify-content: center;
}

.titre h3 {
    font-size: 1.5em;
    padding: 20px;
    font-weight: 900;
}

#naaman .titre h3, #soja .titre h3{
    color:#fedf32b9;
}

#biga .titre h3 {
    color: #e1493be1 ;
}


/* ------------------------------------------------------style bouton ---------------------------------------------------------------*/

.contenu_bouton_top {
    display: flex;
    justify-content: center;
}

.contenu_bouton_top a {
    color: #F2DEA2;  
    transition: .3s;
}

.contenu_bouton_top a:hover {
    transform: scale(1.5);
    transition: .3s ; 
    cursor: pointer;
}


/******MAIN ACCUEIL*****************************************************************************/
#phonotheque {
    margin-top: 1em;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 150px;
    text-align: center;
}
.genres {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10em;
}

.card {
    width: 28%;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.45);
    display: inline-block;
    border-radius: 10px;
}

.cardimg {
    display: block;
    overflow: hidden;
    height: 13em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}

.cardimgbackground {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition:0.7s;
}

.bg_naaman {
    background-image: url("images/naaman.png");  
}
.bg_damso {
    background-image: url("images/dems.jpg");  
}
.bg_bts {
    background-image: url("images/kpop/artisteBTS.jpg");  
}

/*
.cardimg img {
    width: 100%;
    max-height: 11em;
    background-color: rgb(245, 247, 250);
    background-size: cover;
    
}
*/

.cardimgbackground:hover {
    transform : scale(1.1);
}

.player {
    margin-top: 1em;
    display: grid;
    place-items: center;
}

.player figcaption {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: rgb(32, 36, 41);
    text-align: center;
}
.genre {
    margin-top: 1em;
    display: grid;
    place-items: center;
    margin-bottom: 1em;
}
.genre a {
    color: black;
}
.genre a:hover {
    text-decoration: underline;
}


/******FIN MAIN ACCUEIL************************************************************************/


/******MAIN DU STYLE 2 KPOP********************************************************************/
#mainstyle2 {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

/*div de background entre chaque artiste*/
#fond1 {
    background-image: url("images/kpop/btsfond1.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
#fond2 {
    background-image: url("images/kpop/mmmfond2.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
#fond3 {
    background-image: url("images/kpop/twicefond3.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}

#titrekpop {
    width: 100%;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 100px;
    font-size: 72px;
    color: black;
}

/*amination des fleches */

#arrowAnim {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
      transform: rotate(-90deg);
  }
  
  .arrow {
    width: 5vw;
    height: 5vw;
    border: 2.5vw solid;
    border-color: black transparent transparent black;
    transform: rotate(-45deg);
  }
  
  
  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;
  }

  .delay2 {
    -webkit-animation-delay: 2s; 
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s; 
      animation-delay: 3s;
  }
  
  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }	
     20% { opacity:1; transform: translateX(9vw); }	
     80% { opacity:1; transform: translateX(-9vw); }	
    100% { opacity:0; transform: translateX(-15vw); }	
  }
  @keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }	
     20% { opacity:1; transform: translateX(9vw); }	
     80% { opacity:1; transform: translateX(-9vw); }	
    100% { opacity:0; transform: translateX(-15vw); }	
  }

/*fin animation des fleches*/

/*container par artiste*/
.container {
    display: grid;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}
.imgdescription {
    display: flex;
    width: 100%;
}
.imgdescription img {
    width: 50%;
}
.article {
    display: grid;
    place-items: center;
    justify-content: space-between;
    padding: 1rem;
}
#titrebts {
    display: flex;
    align-items: center;
}
.particle {
    border: #2265b3 1px solid;
    border-top-left-radius: 17px;
    background-color: #2265b3;
    padding: 15px;
    margin-top: 3em;
    margin-bottom: 3em;
    color: white;
    box-shadow: #154478 1px 1px,
    #154478 2px 2px,
    #154478 3px 3px,
    #154478 4px 4px,
    #154478 5px 5px,
    #154478 6px 6px,
    #154478 7px 7px,
    #154478 8px 8px,
    #154478 9px 9px;
}


/*rï¿½seaux sociaux des arstites*/
.socialmedia {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.socialmedia i {
    font-size: xx-large;
    color:rgb(29, 28, 28);
    transition: color 0.4s, transform 0.7s;
}
.socialmedia .fa-facebook-f:hover {
    color: #1778F2;
    transform: rotate(360deg);
}
.socialmedia .fa-instagram:hover {
    color: #DD2A7B;
    transform: rotate(360deg);
}
.socialmedia .fa-twitter:hover {
    color: #00acee;
    transform: rotate(360deg);
}
.socialmedia .fa-tiktok:hover {
    color:#69C9D0;
    transform: rotate(360deg);
}
.socialmedia .fa-youtube:hover {
    color: #cd201F;
    transform: rotate(360deg);
}
.socialmedia .fa-spotify:hover {
    color: #1ED761;
    transform: rotate(360deg);
}
.socialmedia .fa-soundcloud:hover {
    color: #FF5836;
    transform: rotate(360deg);
}
.socialmedia .fa-comments:hover {
    color: #0BE6C1;
    transform: rotate(360deg);
}
.socialmedia .fa-angellist:hover {
    color: #54F7FF;
    transform: rotate(360deg);
}
.socialmedia .fa-globe:hover {
    color: #96983b;
    transform: rotate(360deg);
}

/*lecteur et alubum*/
.lecteurAlbum {
    display: flex;
}
.lecteur {
    width: 50%;
    display: grid;
    place-items: center;
}
.album {
    background-color: black;
    width: 50%;
    display: grid;
    place-items: center;
}
img {
    max-width: 100%;
    height: auto;
}

/*******************FIN DE MAIN DU STYLE 2 KPOP**************************************************/

/*footer */
#footer {
    width: 100%;
    background-color: rgba(177, 177, 196, 0.5);
    color: rgb(133, 133, 133);
    text-decoration: none;
    text-align: center;
    margin-top: 4em;
    padding-top: 1em;
    padding-bottom: 3em;
    line-height: 3;
    font-family: 'Quicksand', sans-serif;
}
#footer #liens a {
    margin-right: 4em;
    margin-left: 4em;
    color: rgb(133, 133, 133);
}
#footer #liens a:hover {
    text-decoration: underline;
}