body {
    width: 100%;
    font-size: 15px;
    background-color: rgb(17, 16, 16);
    color: rgb(231, 231, 231);
}

.container {
    display: grid;
    width: 100%;
}
.imgimgdescription {
    display: flex;
    width: 100%;
}
.imgdescription img {
    width: 500px;
}
.article {
    display: grid;
    place-items: center;
    justify-content: space-between;
}
#titrebts {
    display: flex;
}
.lecteurAlbum {
    display: flex;
}